main {
    grid-template-areas:
        "art";
    padding: 15px;
}

article {
    grid-area: art;
    padding: 0 15px;
}

.main-image {
    width: 95%;
    min-height: 250px;
    max-width: 550px;
    background-image: url('../img/clouds.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 15px auto 0;
}

blockquote {
    font-style: italic;
}

#avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url('../img/me.png');
    display: inline-block;
    background-size: cover;
    margin-right: 5px;
}

small {
    font-style: italic;
}

@media(min-width:800px) {
    #container {
        grid-template-rows: 150px 950px 125px;
    }
}